*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
}

.one {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: lightblue;
    /* yes mam */
    /* border: 1px solid black; */

}


.header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 80vw;
    background-color: yellowgreen;
    /* border: 1px solid black; */
}

.three{
    display: flex;
    flex-direction: row;
    height: 60vh;
    /* border: 1px solid black; */

    /* yes mam */
}


.article{
    display: flex;
    flex-direction: row;
    flex: 3; 
    height: 60vh;
    /* border: 1px solid black; */

}

.aside{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80vh; 
    /* okay leave that mam */
    width: 20vw;
    background-color: beige;
    /* border: 1px solid black; */
}

.four{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 60vw;
    background-color: yellowgreen;
    /* border: 1px solid black; */
}

/* yes mam */

/* okay okay mam understood */
/* i had no time */

/* yeah sure mam */
/* okay mam */

/* sorry mam */

/* okay mam i'll try */
/* thank you mam */